RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://warmonger-miniatures.com/$1 [R=301,L]

RedirectMatch 301 ^/store/preorders/husaria-winged-hussars.html /store/10mm-polish-lithuanian/husaria-winged-hussars.html
RedirectMatch 302 ^/store/preorders /store/
